 .ant-alert {
    padding: 3rem 0rem !important;
    background-color: #eaeaea !important;
    opacity: 90% !important;
}

.bannerLoop .ant-alert-warning .ant-alert-icon  {
    display: none !important;
}