.custom_modal_profile {
  max-width: 1020px !important;
  width: max-content !important;
  padding: 0 !important;
}
.custom_modal_profile .ant-modal-footer {
  display: none;
}
.custom_modal_profile .ant-modal-title {
  display: none;
}

.custom_modal_profile .ant-modal-mask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

